@charset "UTF-8";
/* Importation d'une police d'écriture libre de droit  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  outline: none;
  color: white;
  list-style: none;
}

body {
  background: #121434;
}
body header {
  background: #16173A;
  border-bottom: 1px solid white;
}
@media only screen and (min-width: 1024px) {
  body header {
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body header {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body header {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body header h1.homepage-title a {
    font-size: 1.5rem;
    padding: 10px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body header h1.homepage-title a {
    font-size: 1.5rem;
    padding: 10px;
  }
}
body header h1.homepage-title:hover {
  cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body nav.navigation-container {
    position: relative;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body nav.navigation-container {
    position: relative;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body nav.navigation-container .burger-container {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body nav.navigation-container .burger-container {
    display: flex;
    justify-content: flex-end;
  }
}
body nav.navigation-container .burger-container .fa-bars {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body nav.navigation-container .burger-container .fa-bars {
    display: flex;
    padding: 10px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body nav.navigation-container .burger-container .fa-bars {
    display: flex;
    padding: 10px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body ul.scrolling-menu {
    width: 290px;
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body ul.scrolling-menu {
    width: 350px;
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  body ul.scrolling-menu .navCategory {
    display: flex;
    gap: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body ul.scrolling-menu .navCategory {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #6C969D;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body ul.scrolling-menu .navCategory {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #6C969D;
  }
}
body ul.scrolling-menu .arrow-container {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  body ul.scrolling-menu .arrow-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 16px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body ul.scrolling-menu .arrow-container {
    display: flex;
    justify-content: space-between;
    background-color: #5b7c82;
    padding: 7px 15px 0px 15px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body ul.scrolling-menu .arrow-container {
    display: flex;
    justify-content: space-between;
    background-color: #5b7c82;
    padding: 7px 15px 0px 15px;
  }
}
body ul.scrolling-menu .navCategory-title {
  cursor: pointer;
  transition: 0.3s;
}
@media only screen and (min-width: 1024px) {
  body ul.scrolling-menu .navCategory-title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body ul.scrolling-menu .navCategory-title {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body ul.scrolling-menu .navCategory-title {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    margin-left: 5px;
  }
}
body ul.scrolling-menu .navCategory-title:hover {
  color: yellow;
}
body ul.scrolling-menu i {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  body ul.scrolling-menu i {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  body ul.scrolling-menu i {
    margin-left: 5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  body ul.scrolling-menu i {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  main section {
    width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  main section {
    width: 100%;
  }
}
main .title-administratives, main .title-pedagogiques {
  text-decoration: underline;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1024px) {
  main .container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  main .container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  main .container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
main .container-box h2, main .container-box span, main .container-box p {
  color: black;
}
main .container-box .box {
  background-color: #FFFFF2;
  box-shadow: 0px 0px 15px 6px #000000;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
main .container-box .box .box-top {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}
main .container-box .box .box-top img {
  width: 60px;
  margin: 3px;
  border: 1px solid black;
}
main .container-box .box .box-top .title-subinfo h2 {
  margin: 10px 5px 5px 5px;
  font-size: 1.1rem;
}
main .container-box .box .box-top .title-subinfo .subinfo {
  margin: 10px 5px 5px 5px;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 550;
}
main .container-box .box .box-text {
  margin: 7px 10px 10px 10px;
}
@media only screen and (min-width: 1024px) {
  main .container-box .box:hover {
    background-color: lightblue;
  }
}

footer {
  padding-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}

.hidden {
  display: none;
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  .liSelected ul li {
    margin-left: 10px;
    transition: 0.3;
    margin-bottom: 10px;
  }
  .liSelected ul li a {
    font-size: 1rem;
    transition: 0.3;
  }
  .liSelected ul li a:hover {
    color: yellow;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
  .liSelected ul li {
    margin-left: 10px;
    transition: 0.3;
    margin-bottom: 10px;
  }
  .liSelected ul li a {
    font-size: 1rem;
    transition: 0.3;
  }
  .liSelected ul li a:hover {
    color: yellow;
  }
}

#sante::before {
  content: "\f0c1";
}/*# sourceMappingURL=style.css.map */